 *{
     color: black;
     margin: 0;
 }
 body{
     display: flex;
     flex-direction: column;
     background-color: rgb(55, 52, 52);
  
 }
 header{
      display: flex;
      justify-content: center;
       background-color: #f2f0f0ea;
       
       
  }
  #nav{
      display: flex;
      justify-content: space-between;
      width: 80%;
      border-left: 3px solid chocolate;

  }
  #sous-nav{
      padding: 10px;
      display: flex;
      flex-direction: column;
      width: 60%;
     
  }
  #logo{
      margin-top: 20px;
      padding: 10px;
      width: 200px;
      height: 60px;
  }
  #logoo{
      padding: 10px;
  }
  .icon{
      width:20px;
      height: 20px;
      
  }
  #compte{
      padding: 5px;
      display: flex;
      border: 2px solid rgb(206, 203, 203);
      background-color: #edecf7;
      justify-content: space-around;
      height: 30px;

  }
  span{
      color:rgb(255, 195, 32);
  }
  #nav1{
      border: 1px solid orange;
  }
  a{
      text-decoration: none;
  }
  #connexion{
      display: flex;
      justify-content: center;
     
  }
  h4{
      text-align: end;
      padding-right: 5px;
  }
  .conx{
      border-right: 1px solid rgb(206, 203, 203) ;
      border-left: 1px solid rgb(206, 203, 203);
      height: 20px;
      padding: 20px;

  }
  main{
      width: 80%;
      margin-left: 130px;
      display: flex;
      background-color: rgb(247, 242, 235);
      justify-content: center;
      flex-direction: column;
  }
 
  #imageBox{
     
     box-shadow: rgb(225, 211, 211);
     width: 100%;
     height:300px ;
     background-image:url("header-page-catalogue.png")
       
  }
  
  .article{
     
      border: 2px solid rgb(213, 205, 205);
      width: 300px;
      height: 300px;
      margin-left: 110px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgb(250, 250, 250);
      margin-bottom: 20px;
      padding: 5px;
      box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
  }
  #articles{
     width: 80%;
     height: 100%;
     margin-top: 10px;
     justify-content: space-around;
     display: flex;
     flex-wrap: wrap;
     

  }
 .gant{
     width:200px;
     height: 150px;
     margin-left:60px;
 }
 h6{
     text-align: center;
 }
 .buto{
     display: flex;
 }
 .promotion{
     background-color: rgb(53, 53, 53);
     margin-left:80px;
     width: 60px;
     height: 30px;
     margin-top: 20px;
     color: orange;
     font-size: 20px;
 }
 button{
    background-color: black;
    width: 100px;
    height: 30px;
    color: blanchedalmond;
    display: block;
}
 .laVente{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 15px;
     
 }
 .iconFooter{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 200px;
     padding: 10px;
 }
 .imgFooter{
     width: 40px;
     
 }
 .pFooter{
     color:rgb(145, 135, 135);
     font-size: 10px;
 }
 #lesicons{
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 10px;
 }
 #ligne{
     border:1px solid rgb(165, 165, 165);
     width: 600px;
 }
 #social{
     margin-top: 10px;
     display: flex;
     padding: 10px;
     justify-content: space-around;
     width: 400px;
     height: 80px;
 }
 .imgFooter1{
     width:30px;
     height: 30px;
 }